<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Technical Support</title>
    </h:head>
    <h:body title="complete de fields indicate with (*)">
        <h:form>
            <h2 style="color: blue;font-family: sans-serif;">Technical Support Request</h2>
            <h:panelGrid style="align-content: center" >

                <h:outputLabel  value="Email (*):"></h:outputLabel>
                <h:inputText id="email" value="${requestBean.email}" required="true" requiredMessage="Email no puede ser blanco!"></h:inputText>
                <h:message for="email" style="color: red;"/>
                
                <h:outputLabel value="Software:"></h:outputLabel>
                <h:selectOneMenu value="${requestBean.software}">
                    <f:selectItems value="${requestBean.softwareList}"/>
                </h:selectOneMenu>

                <h:outputLabel value="Sistema Operativo:"></h:outputLabel>
                <h:selectOneMenu value="${requestBean.so}">
                    <f:selectItems value="${requestBean.SOList}"/>
                </h:selectOneMenu>

                <h:outputLabel value="Detalle(*):"></h:outputLabel>
                <h:inputTextarea id="problem" value="${requestBean.problem}" required="true" requiredMessage="Detalle no puede ser blanco!"></h:inputTextarea>
                <h:message for="problem" style="color: red;"/>
      
            </h:panelGrid>
            <h:panelGrid columns="2">
                <h:commandButton value="Send" action="${requestBean.registerRequest()}" type="submit" ></h:commandButton>
                <h:commandButton value="Clear" action="${requestBean.reset()}" type="reset">
                    <f:ajax render="@form"/>  
                </h:commandButton>
            </h:panelGrid>
        </h:form>

    </h:body>
</html>

