<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Technical Support</title>
    </h:head>
    <h:body>
        <h:form>
            
            <h2 style="color: blue;font-family: sans-serif;">Technical Support Request (#{requestBean.totalRequest})</h2>
        <h:dataTable value="${requestBean.list}" var="req">
            <h:column>
                <f:facet name="header">Software</f:facet>
                #{req.software}
            </h:column>
            <h:column>
                <f:facet name="header">Operating System</f:facet>
                #{req.so}
            </h:column>
            <h:column>
                <f:facet name="header">Problem</f:facet>
                #{req.detail}
            </h:column>
        </h:dataTable>
        <h:commandLink value="New request" action="index"/>
        </h:form>
    </h:body>
</html>

