<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Technical Support</title>
    </h:head>
    <h:body>
        <h1>Customer Service Request Received</h1>
        <strong><h:outputLabel value="${requestBean.email}" /></strong><p>Thank you for your Request, which has been recorder and will be responded to within three business days. </p>
        <h:form>
            <h:panelGrid columns="2">
                <h:commandLink action="index" value="Home"/>
                <h:commandLink action="listAllRequest" value="View All Request"/>
            </h:panelGrid>
        </h:form>
    </h:body>
</html>

